.column-container {
  display: flex;
  height: calc(100vh - 86px); /* TODO fix it*/
  gap: 10px;
  padding: 10px;
  background-color: var(--color-surface);
}

.left-column {
  width: 25%;
}

.center-column {
  width: 50%;
}

.right-column {
  width: 25%;
}