.chat-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 12px;
  color: var(--color-text);
  background: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  z-index: 20;
  overflow-x: hidden
} 