.content-wrapper {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

markdown {
  margin: 0;
  font-size: 14px;
  color: var(--color-text);
  padding: 15px;
  border-radius: 4px;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

::ng-deep markdown a {
  color: var(--color-text-muted);
}

