/* You can add global styles to this file, and also import other style files */
:root {
  --color-bg: #1e1e1e;
  --color-surface: #303030;
  --color-border: #323232d9;
  --color-text: #e6eef8;
  --color-text-muted: #9aaab7;
  --color-accent-gradient-start: #07203a;
  --color-accent-gradient-end: #003a6b;
  --color-delete: #dc2626;
  --chat-width: 768px;
  --header-height: 30px;
  --input-height: 90px;
  --spacing: 12px;
}

body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-surface);
}

::-webkit-scrollbar-thumb {
  background: var(--color-text-muted);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-bg);
}

/* Shared panel header styling */
.panel-header {
  font-weight: 600;
  font-size: 1rem;
  padding: 8px 12px;
  color: var(--color-text);
  border-bottom: 1px solid var(--color-border);
  z-index: 10;
  height: 24px;
}

.panel-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-bg);
  height: 100%;
  border-radius: var(--spacing);
}
